@include ns(my-button) {
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: var(--bg-black);
  cursor: pointer;
  color: var(--text-white);
  &:disabled {
    background-color: rgba(#111111, 0.1);
  }
  &--medium {
    border-radius: 3px;
    font-size: 15px;
    padding: 3px 10px;
  }
  &--small {
    border-radius: 3px * 0.8;
    font-size: 15px * 0.8;
    padding: 3px * 0.8 10px * 0.8;
  }
  &--large {
    border-radius: 3px * 1.2;
    font-size: 15px * 1.2;
    padding: 3px * 1.2 10px * 1.2;
  }
}
